div {
  list-style-type: none;
  grid-template-columns: auto;
}

/*상단부 영화 검색 창 중앙정렬*/
.txt {
  text-align: center;
}

/*상단부 검색버튼 중앙정렬*/
.btnbox {
  text-align: center;
  margin-bottom: 20px;
}

/*상단부 검색창, 버튼 크기 조절*/
input,
button {
  padding: 5px 10px;
}

/*리스트, div, card까지 css로 제어*/
#list {
  border: 1px solid #ccc;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  margin: auto;
}

#list > div {
  flex-basis: 100%;
  margin-bottom: 20px;
  margin: auto;
  text-align: center;
}

.card {
  width: 500px;
  height: 50%;
  margin: auto;
  background-color: burlywood;
}

/*카드리스트화, 이미지 클릭 시 ID출력 구현 완료*/
/*이미지 크기정렬, css꾸미기*/
